* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    /* margin: auto; */
}

body {
    background-color: bisque;
    display: flex;
    justify-content: center;

}

.container {
    background-color: rgb(31, 174, 127);
    /* border: solid 2px black; */
    margin: 25%;
    height: 250px;
    width: 200px;
}

#row1 #display-box {
    border: solid 2px black;
    width: 150px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.button {
    border: solid 1px black;
    height: 50px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#row1 {
    display: flex;
}

#row2 {
    display: flex;
}

#row3 {
    display: flex;
}

#row4 {
    display: flex;
}

#row5 {
    display: flex;
}

p {
    font-size: xx-large;
}