* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    /* margin: auto; */
}

body {
    background-color: bisque;
    display: flex;
    justify-content: center;
    margin: auto;
}

.container {
    background-color: rgb(31, 174, 127);
    /* border: solid 2px black; */
    /* display: flex;
    flex-direction: column; */
    margin: 25%;
    height: 400px;
    width: 300px;

}

#row1 #display-box {
    border: solid 1px rgb(255, 255, 255);
    width: 75%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
    ;
}

.factor,
.clear,
.button {
    border: solid 1px rgb(255, 255, 255);
    height: 80px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    /* color: rgb(255, 255, 255); */
}

.operator {
    border: solid 1px rgb(255, 255, 255);
    background-color: rgb(164, 229, 229);
    height: 80px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

#row1 {
    display: flex;
}

#row2 {
    display: flex;
}

#row3 {
    display: flex;
}

#row4 {
    display: flex;
}

#row5 {
    display: flex;
}

p {
    font-size: xx-large;
}

.factor:hover,
.clear:hover,
.button:hover {
    background-color: aquamarine;
}

.operator:hover {
    background-color: rgb(47, 204, 204);
}